.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  height: 10vh;
  padding: 10px;
  box-shadow: 0px -1px 0px 0px #e4e5e8 inset;
}

.heading {
  display: flex;
  width: 20vw;
  height: 8vh;
  align-items: center;
  gap: 10px;
}
.heading p {
  font-weight: 600;
  font-size: 20px;
  text-wrap-mode: nowrap;
}
.brief-case {
  height: 40px;
  width: 40px;
}

.navigation {
  display: flex;
  align-items: center;

  width: 25vw;
  height: 8vh;
  gap: 20px;
}

.saved-jobs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.saved-jobs p {
  color: #9199a3;
  text-wrap-mode: nowrap;
}
.btn {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
}

.images-div {
  gap: 20px;

  width: 10vw;
  display: flex;
}

.bellRing {
  position: relative;
  top: 2vh;
  height: 3vh;
  width: 1.6vw;
}
